@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    background-color: rgb(31, 0, 108);
  }
  .navbar-mid {
    display: none;
  }
  .navbar-search {
    width: 50vw;
    height: 40px;
  }
  .navbar-search input {
    width: 40vw;
    height: 25px;
  }
  .navbar-search img {
    width: 20px;
    height: 20px;
  }
  #hamMenu {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hamMenu img {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color: white;
  }
  #dropdownMenu {
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 0, 108);
  }
  #menuSlide {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    background-color: rgba(31, 0, 108, 0.582);
    backdrop-filter: blur(10px);
    color: white;
  }
}
