@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.navbar {
  width: 100%;
  height: 4em;
  position: fixed;
  z-index: 9999;
  background-color: rgb(31, 0, 108);
}
.logo {
  font-size: 2em;
  text-decoration: none;
  color: white;
  margin: 0px 10px 0px 10px;
}
.logo img {
  width: 40px;
  height: 40px;
}
#hamMenu,
#dropdownMenu,
#menuSlide {
  display: none;
}
.navbar-mid {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.navbar-mid span {
  font-size: 1.2rem;
  text-align: center;
  padding: 0px 15px 0px 15px;
}
.navbar-mid span:hover {
  padding: 0px 15px 0px 15px;
  text-align: center;
  border-radius: 20px;
  background-color: aliceblue;
  color: rgb(0, 0, 105);
}
.navbar-search {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 255, 0.393);
  margin: 0px 10px 0px 10px;
  border-radius: 30px;
}
.navbar-search input,
.navbar-search input:focus {
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 10px;
}
.navbar-search span {
  color: white;
  cursor: pointer;
}
.dropdown {
  display: none;
}
